In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [ ]:
pop_dens_df = pd.read_csv('pop_density.csv', encoding='latin-1')
pop_dens_df.drop('Unnamed: 2', axis=1, inplace=True)
pop_dens_df['States'] = pop_dens_df['States'].apply(lambda x: x[1:])
pop_dens_df.set_index('States', inplace=True)
pop_dens_df.head()

                      Pop_per_km2
States
District of Columbia         4251
New Jersey                    470
Puerto Rico                   404
Rhode Island                  394
Massachusetts                 336

In [ ]:
print(len(pop_dens_df.index))
pop_dens_df.index

56

Index(['District of Columbia', 'New Jersey', 'Puerto Rico', 'Rhode Island',
       'Massachusetts', 'Guam', 'US Virgin Islands', 'Connecticut',
       'American Samoa', 'Maryland', 'Delaware', 'New York', 'Florida',
       'Northern Mariana Islands', 'Pennsylvania', 'Ohio', 'California',
       'Illinois', 'Hawaii', 'Virginia', 'North Carolina', 'Indiana',
       'Georgia', 'Michigan', 'South Carolina', 'Tennessee', 'New Hampshire',
       'Kentucky', 'Louisiana', 'Washington', 'Wisconsin', 'Texas', 'Alabama',
       'Missouri', 'West Virginia', 'Minnesota', 'Vermont', 'Mississippi',
       'Arizona', 'Arkansas', 'Oklahoma', 'Iowa', 'Colorado', 'Maine',
       'Oregon', 'Utah', 'Kansas', 'Nevada', 'Nebraska', 'Idaho', 'New Mexico',
       'South Dakota', 'North Dakota', 'Montana', 'Wyoming', 'Alaska'],
      dtype='object', name='States')

In [ ]:
asian_df = pd.read_csv('asian_density.csv', encoding='latin-1')
asian_df.rename(columns={'State':'States'}, inplace=True)
asian_df['States'] = asian_df['States'].apply(lambda x: x[1:])
asian_df['States'] = asian_df['States'].apply(lambda x: 'US Virgin Islands' if 'Virgin Islands' in x else x)
asian_df.set_index('States', inplace=True)
asian_df.head()

                Perc_asian
States
Alabama                1.4
Alaska                 7.1
American Samoa         3.6
Arizona                3.6
Arkansas               1.5

In [ ]:
print(len(asian_df.index))
asian_df.index

56

Index(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'US Virgin Islands', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='States')

In [ ]:
demographic_df = pd.merge(pop_dens_df, asian_df, left_index=True, right_index=True)
demographic_df.head()

                      Pop_per_km2  Perc_asian
States
District of Columbia         4251         4.5
New Jersey                    470         9.0
Puerto Rico                   404         0.3
Rhode Island                  394         3.5
Massachusetts                 336         6.0

In [ ]:
len(demographic_df)

56

In [ ]:
demographic_df.sort_values('Perc_asian', ascending=False, inplace=True)
demographic_df.head()

                          Pop_per_km2  Perc_asian
States
Hawaii                             86        57.4
Northern Mariana Islands          118        49.9
Guam                              314        32.2
California                         97        14.9
New Jersey                        470         9.0

In [ ]:
demographic_df['num_asians_per_km2'] = (
    (demographic_df['Pop_per_km2']*demographic_df['Perc_asian']/100)
    .apply(lambda x: math.ceil(x))
                                )
demographic_df.sort_values('num_asians_per_km2', ascending=False, inplace=True)
demographic_df.head()

                          Pop_per_km2  Perc_asian  num_asians_per_km2
States
District of Columbia             4251         4.5                 192
Guam                              314        32.2                 102
Northern Mariana Islands          118        49.9                  59
Hawaii                             86        57.4                  50
New Jersey                        470         9.0                  43

In [ ]:
demographic_df.to_csv('/content/drive/MyDrive/Carnegie Mellon University/15-688 Practical Data Science/Cleaned tables/population_density.csv')